// -----------------------------------------------------------------------------
// Link List
// -----------------------------------------------------------------------------

@use "@globals/foundation/variables" as *;
@use "@globals/mixins/typography" as *;

// -----------------------------------------------------------------------------
// Core
// -----------------------------------------------------------------------------
.#{$nsp}-linklist {
  &__heading {
    @include typography("heading-5-fixed", 700);
    border-bottom: 1px solid var(--#{$nsp}-color-neutral-350);
    margin-bottom: var(--#{$nsp}-space-xs);
    padding-bottom: var(--#{$nsp}-space-xs);
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__link {
    &--internal,
    &--external {
      --#{$nsp}-link-color: var(--#{$nsp}-color-typo-tertiary);
      --#{$nsp}-link-decoration-line: none;
      --bsi-icon-height: 24px;
      line-height: 1.5;
    }

    &--download {
      --bsi-icon-height: 24px;
      line-height: 1.5;
    }
  }
}
