always-auth = true
engine-strict=true

# Default Registry for all external packages
registry = https://artifacts.init.de/artifactory/api/npm/npmjs-npm/
//artifacts.init.de/artifactory/api/npm/npmjs-npm/:_authToken=${NPM_AUTH_TOKEN}

# Default Registry for some internal ]init[-commons packages
@init:registry = https://artifacts.init.de/artifactory/api/npm/webdev-commons-npm/
//artifacts.init.de/artifactory/api/npm/webdev-commons-npm/:_authToken=${NPM_AUTH_TOKEN}
