// -----------------------------------------------------------------------------
// Link Box
// -----------------------------------------------------------------------------

@use "@globals/foundation/variables" as *;
@use "@globals/mixins/breakpoints" as *;
@use "@globals/mixins/typography" as *;

// -----------------------------------------------------------------------------
// Core
// -----------------------------------------------------------------------------
.#{$nsp}-linkbox {
  background: var(--#{$nsp}-color-blue-100);
  display: flex;
  gap: var(--#{$nsp}-size-lg);
  padding: var(--#{$nsp}-size-sm);

  &__downloadlink {
    line-height: 1.5em;
    svg {
      margin-top: 5px;
    }
  }

  &__icon {
    --#{$nsp}-icon-width: var(--#{$nsp}-size-2xl);

    @include breakpoint-lg {
      --#{$nsp}-icon-width: var(--#{$nsp}-size-6xl);
    }
  }
  .#{$nsp}-linklist__list-item {
    line-height: 1;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 0 var(--#{$nsp}-size-2xl);
    width: 100%;

    @include breakpoint-lg {
      flex-direction: row;
    }
    .bsi-link__content {
      display: inline;
    }

    &:has(.#{$nsp}-linklist + .#{$nsp}-linklist) .#{$nsp}-linklist {
      @include breakpoint-lg {
        max-width: 50%;
      }
      .#{$nsp}-link__add-on {
        display: inline;
      }
    }
  }
}
