// -----------------------------------------------------------------------------
// Opener Searchbar
// -----------------------------------------------------------------------------

@use "@globals/foundation/variables" as *;
@use "@globals/mixins/breakpoints" as *;

// -----------------------------------------------------------------------------
// Core
// -----------------------------------------------------------------------------
.#{$nsp}-search-page {
  @include breakpoint-lg {
    .#{$nsp}-search-page__title {
      padding: var(--#{$nsp}-space-2xl) 0;
    }

    &__search {
      padding: var(--#{$nsp}-space-lg) var(--#{$nsp}-space-6xl);
    }
  }

  &__search {
    padding: var(--#{$nsp}-space-lg) var(--#{$nsp}-space-sm);
  }
}
