// -----------------------------------------------------------------------------
// Hero Slider
// -----------------------------------------------------------------------------

@use "@globals/foundation/variables" as *;
@use "@globals/mixins/breakpoints" as *;
@use "@globals/mixins/typography" as *;
@use "@globals/mixins/grid" as *;

.#{$nsp}-hero-slider {
  background-color: var(--#{$nsp}-color-blue-950);
  display: flex;
  flex-direction: column;
  position: relative;

  .splide__track {
    overflow: hidden;
  }

  &__slide {
    min-height: 580px;
    overflow: hidden;
    position: relative;
  }

  &__image {
    inset: 0;
    position: absolute;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &__inner {
    @include grid-container;
    display: grid;
    gap: var(--#{$nsp}-space-lg);
    padding-bottom: var(--#{$nsp}-space-sm);
    padding-top: var(--#{$nsp}-space-lg);

    position: relative;
    z-index: 1;

    @include breakpoint-lg {
      align-items: center;
      gap: var(--#{$nsp}-space-7xl);

      grid-template-columns: minmax(0, 1fr) minmax(320px, 400px);
      padding-bottom: var(--#{$nsp}-space-xl);

      padding-top: var(--#{$nsp}-space-2xl);
    }
  }

  &__content {
    background-color: var(--#{$nsp}-color-blue-900);
    color: var(--#{$nsp}-color-neutral-50);
    padding: var(--#{$nsp}-space-sm);

    @include breakpoint-md {
      padding: var(--#{$nsp}-space-lg);
    }
  }

  &__title {
    @include typography("display-2");
    margin: 0 0 var(--#{$nsp}-space-lg);
    text-wrap: balance;

    @include breakpoint-md {
      font-size: 42px;
    }

    @include breakpoint-lg {
      font-size: 56px;
    }
  }

  &__content p,
  &__text {
    @include typography("body-small");
    font-size: 18px;
    margin: 0 0 var(--#{$nsp}-space-lg);

    @include breakpoint-md {
      font-size: 20px;
    }
  }

  &__overlay {
    @include grid;
    width: 100%;

    @include breakpoint-lg {
      display: flex;
      justify-content: flex-end;
      left: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: var(--#{$nsp}-space-xl);
      z-index: 2;
    }
  }

  &__card {
    border: solid 1px var(--#{$nsp}-color-blue-800);
    box-shadow: 0 0 4px 0 rgba(33, 35, 40, 0.25);

    @include breakpoint-lg {
      max-width: 400px;
      pointer-events: all;
    }
  }

  &__controls {
    bottom: 140px;
    margin: auto;
    max-width: var(--#{$nsp}-grid-max-width);
    padding-inline: var(--#{$nsp}-grid-padding);
    text-align: right;
    width: 100%;

    @include breakpoint-lg {
      position: relative;
    }
  }

  &__prev,
  &__next {
    --#{$nsp}-button-border-color: var(--#{$nsp}-color-white);
  }
}
