// -----------------------------------------------------------------------------
// Placeholder
// -----------------------------------------------------------------------------

@use "@globals/foundation/variables" as *;

.#{$nsp}-placeholder {
  border: 4px dashed #5b5a60;
  color: #5b5a60;
  height: 100%;
  padding: 20px 0;

  &__content {
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
}
